In [17]:
import pandas as pd
import numpy as np
#Check Andres V

In [3]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
s *[202142638]
s

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
print(s % 2)

0    1
1    0
2    1
3    0
dtype: int64

In [11]:
s = pd.Series(['a','b','c'])
s*5

0    aaaaa
1    bbbbb
2    ccccc
dtype: object

In [12]:
from math import log
s = pd.Series([1, 2, 3, 4])
s.apply(log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
dtype: float64

In [13]:
s = pd.Series(['a', 'b', 'c'])
s.apply(str.upper)

0    A
1    B
2    C
dtype: object

In [14]:
s = pd.Series({'Matemáticas': 6.0, 'Economía': 4.5, 'Programación': 8.5})
print(s[s > 5])

Matemáticas     6.0
Programación    8.5
dtype: float64

In [15]:
s = pd.Series({'Matemáticas': 6.0, 'Economía': 4.5, 'Programación': 8.5})
print(s.sort_values())

Economía        4.5
Matemáticas     6.0
Programación    8.5
dtype: float64

In [16]:
print(s.sort_index(ascending = False))

Programación    8.5
Matemáticas     6.0
Economía        4.5
dtype: float64

In [19]:
s = pd.Series(['a', 'b', None, 'c', np.NaN, 'd'])
s

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

In [20]:
s.dropna()

0    a
1    b
3    c
5    d
dtype: object